<footer class="footer is-dark has-text-light has-background-dark">
    <div class="container">
        <div class="columns">
            <div class="column is-3">
                <aside class="menu has-text-light">
                    <p class="menu-label brand">
                        MAKE/BUILD
                    </p>
                    <ul class="menu-list">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#details">Details</a></li>
                        <li><a href="#schedule">Schedule</a></li>
                        <li><a href="#sponsors">Sponsors</a></li>
                        <li><a href="#faq">FAQ</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-3">
                <aside class="menu has-text-light">
                    <p class="menu-label brand">
                        HackFSU
                    </p>
                    <ul class="menu-list">
                        <li><a href="https://hackfsu.com">Home</a></li>
                        <li>
                            <a href="mailto:hackfsu.team@gmail.com">Contact</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <!-- <div class="column content is-4 has-text-centered">
                <img
                    class="logo"
                    src="./assets/svg/006-planet-earth.svg"
                    alt="make/build logo"
                />
                <div class="buttons is-centered">
                    <a class="button is-primary">Apply</a>
                </div>
            </div> -->
        </div>
        <div class="footnote has-text-centered">
            <a href="mailto:team@makebuild.io">team@makebuild.io</a> — Copyright
            © 2019. All rights reserved.
        </div>
    </div>
</footer>
