<nav class="container brand">
    <div class="columns is-mobile is-multiline">
        <a class="column has-text-centered" href="#">
            <h4>MAKE/BUILD</h4>
        </a>
        <a class="column has-text-centered" href="#details">
            <h4>Details</h4>
        </a>
        <a class="column has-text-centered" href="#schedule">
            <h4>Schedule</h4>
        </a>
        <a class="column has-text-centered" href="#sponsors">
            <h4>Sponsors</h4>
        </a>
        <a class="column has-text-centered" href="#faq">
            <h4>FAQ</h4>
        </a>
    </div>
</nav>
