<nav class="container ">
    <div class="columns is-mobile is-multiline">
        <a class="column has-text-centered">
            <h4>Fireball</h4>
        </a>
        <a class="column has-text-centered">
            <h4>Details</h4>
        </a>
        <a class="column has-text-centered">
            <h4>Schedule</h4>
        </a>
        <a class="column has-text-centered">
            <h4>Sponsors</h4>
        </a>
        <a class="column has-text-centered">
            <h4>FAQ</h4>
        </a>
    </div>
</nav>
