<section id="details" class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="img-wrap has-text-centered">
                    <img
                        src="./assets/svg/016-lunar-roving-vehicle.svg"
                        alt="Explore"
                    />
                </div>
            </div>
            <div class="column is-6 content">
                <h1>Details</h1>
                <p>
                    Build awesome stuff. Learn something new. Unlease your
                    creativity without spending your entire weekend. This
                    spring, join us for a 12-hour hackathon here in Tallahassee
                    to make your next big project happen.
                </p>
                <h4>Date</h4>
                <p>TBD.</p>
                <h4>Location</h4>
                <p>TBD.</p>
            </div>
        </div>
    </div>
</section>
