<section id="sponsors" class="section">
    <div class="container content">
        <h1>Sponsors</h1>

        <div class="columns is-multiline is-centered has-text-centered">
            <!-- TODO remove "is hidden mobile" when you add a picture -->
            <div class="column is-4 is-hidden-mobile">
                <div class="box"></div>
            </div>
            <div class="column is-4">
                <div class="box"><h3>Coming Soon!!</h3></div>
            </div>
            <div class="column is-4">
                <div class="box"></div>
            </div>
            <div class="column is-6">
                <div class="box"></div>
            </div>
            <div class="column is-6">
                <div class="box"></div>
            </div>
        </div>
    </div>
</section>
