@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');

// Set your brand colors

// Earth
$earth-blue: #4a8ed8;
$earth-blue-dark: #3e77b5;
$earth-clouds: #d1d7de;

// Shuttle
$booster-orange: #f06528;
$booster-orange-dark: #de591e;
$booster-yellow: #f5ae45;
$booster-yellow-dark: #f09e25;
$shuttle-white: #cfd7df;
$shuttle-white-off: #b7bcc4;
$shuttle-grey: #808b96;

// Shooting Star
$shooting-star-orange: #df6e3b;
$shooting-star-yellow: #f1be6e;

$greydark: #4b5771;
$greymid: #afb9c8;
$greylight: #e6e8ef;

// Update Bulma's global variables
$family-sans-serif: 'Helvetica Neue', Helvetica, Roboto, sans-serif;
$family-monospace: 'Fira Code', 'Roboto Mono', monospace;
// $grey-dark: $brown;
// $grey-light: $beige-light;
$primary: $earth-blue;
$link: $earth-blue-dark;
$background: $earth-clouds;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $background;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$weight-black: 900;

// Import only what you need from Bulma
@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/components/navbar.sass';
@import '~bulma/sass/layout/hero.sass';
@import '~bulma/sass/layout/section.sass';
@import '~bulma/sass/layout/footer.sass';

// Menu
$menu-item-color: $text-invert;
$menu-item-radius: 0;
@import '~bulma/sass/components/menu.sass';
