@import 'base';

h4 {
    font-weight: $weight-bold;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 1rem !important;
}

nav {
    padding: 1rem 0 0 0;

    a h4 {
        color: $grey-dark;
        padding: 1rem;
    }
}

img {
    min-width: 256px;
}

.brand {
    font-family: $family-monospace;
    font-weight: $weight-bold;
    text-transform: uppercase;
}

.button {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
}

.content {
    h1,
    h2,
    h3 {
        font-family: $family-monospace;
        text-transform: uppercase;
    }

    h4 {
        margin-bottom: 0.5rem;
    }
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.columns {
    margin: 0;
}

@media screen and (min-width: 768px) {
    .columns {
        margin-left: -0.75rem;
        margin-right: -0.75rem;
        margin-top: -0.75rem;
    }
}

// Background stylings
body {
    position: relative;
}
body::after {
    content: '';
    background-image: url('../assets/background.png');
    background-size: contain;
    background-repeat: repeat;
    top: 0;
    opacity: 0.5;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

// Section layout stylings
#hero {
    position: relative;
    h1 {
        @extend .brand;
        font-size: $size-3;
        margin-top: 1rem;
        margin-bottom: 0.25rem;

        @include tablet {
            font-size: $size-1;
        }
    }
    h2 {
        font-size: $size-5;
        font-weight: $weight-bold;
        color: $grey-dark;

        @include tablet {
            font-size: $size-4;
        }
    }
    h3 {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
    .logo {
        width: 100%;
        padding: 2rem 0;
    }

    .buttons {
        margin-top: 1rem;
        .button {
            @extend .is-primary, .is-medium;
            padding: 1.25rem;
            margin: 0 1rem 1rem;
            font-size: 1rem;
            min-width: 8rem;
        }
    }

    @include mobile {
        padding-top: 0;
    }
}

#details {
    background-color: $grey-dark;
    .content * {
        color: findColorInvert($grey-dark);
    }
}

#details,
#schedule {
    .img-wrap {
        position: relative;
        img {
            width: 100%;
            max-width: 256px;
        }
    }
}

#statement {
    background-color: $white;
    background-image: url('../assets/grid.png');
    background-attachment: fixed;
    background-size: 125%;
    border-bottom: $blue 1rem solid;

    .box {
        border-radius: 0;
        background-color: $blue;

        h1 {
            font-weight: $weight-normal;
            text-transform: unset;
            color: findColorInvert($blue);
        }
    }

    // .box::after {
    //     width: 100%;
    //     height: 100%;
    //     content: '';
    //     opacity: 0.9;
    // }

    @include tablet {
        padding: 8rem 4rem;
        .box {
            padding: 2rem;
        }
    }
}

#schedule {
    background: $background;
    span {
        b {
            font-family: $family-monospace;
        }
    }
}

#sponsors.section {
    background: $grey-dark;
    * {
        color: findColorInvert($grey-dark);
    }
    h1 {
        margin-bottom: 2rem;
    }
    .column .box {
        background: darken($grey-dark, 5%);
        // background-color: $grey-light;
        border-radius: 2px;
        box-shadow: none;
        // border: findColorInvert($grey-dark) 0.5rem solid;
        min-height: 4rem;
        height: 100%;

        display: flex;
        max-height: 200px;

        img,
        p {
            margin: auto;
        }
    }

    h3 {
        margin: 0;
    }
}

#faq.section {
    // background-color: $blue;
    $faq-text-color: findColorInvert($background);

    .content * {
        color: $faq-text-color;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: $faq-text-color 0.1rem solid;
        display: inline;
    }

    p {
        margin: 1rem 0 2rem;
        color: $black;
        a {
            text-decoration: underline;
        }
    }
}

.footer {
    .menu .menu-label {
        color: $text-invert;
    }

    .button {
        width: 128px;
    }

    .footnote a {
        color: $text-invert;
        text-decoration: underline;
    }
}
