<section id="details" class="section">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="img-wrap has-text-centered">
                    <img
                        src="./assets/svg/016-lunar-roving-vehicle.svg"
                        alt="Explore"
                    />
                </div>
            </div>
            <div class="column is-6 content">
                <h1>Details</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <h4>Date</h4>
                <p>10am April 4th => 12am April 5th.</p>
                <h4>Location</h4>
                <p>TBD.</p>
            </div>
        </div>
    </div>
</section>
