<section id="hero" class="hero section">
    <div class="hero-body">
        <div class="container has-text-centered content">
            <img
                class="logo"
                src="./assets/svg/006-planet-earth.svg"
                alt="AstroHacks Logo"
            />
            <h2>HackFSU presents:</h2>
            <h1>AstroHacks</h1>
            <h3>April 12th 2019</h3>
            <div class="buttons is-centered">
                <a class="button">
                    Register
                </a>
                <a class="button is-outlined">
                    Contact
                </a>
            </div>
        </div>
    </div>
</section>
