<section id="hero" class="hero section">
    <div class="hero-body">
        <div class="container has-text-centered content">
            <img
                class="logo"
                src="./assets/svg/006-planet-earth.svg"
                alt="make/build logo"
            />
            <h2>HackFSU presents:</h2>
            <h1>MAKE/BUILD</h1>
            <h3>A Hackathon Event<br />April 12th 2019</h3>
            <div class="buttons is-centered">
                <a class="button" href="https://airtable.com/shrRmzfcOJ2vJcssf">
                    Apply
                </a>
                <a class="button is-outlined">
                    Contact
                </a>
            </div>
        </div>
    </div>
</section>
