<section id="schedule" class="section">
    <div class="container content">
        <h1>Schedule</h1>
        <div class="columns">
            <div class="column is-6">
                <span>
                    <b>10:00am </b>
                    Check-in Starts
                </span>
                <br />
                <span>
                    <b>11:00am </b>
                    Opening Ceremony
                </span>
                <br />
                <span>
                    <b>12:00pm </b>
                    Hacking Starts
                </span>
                <br />
                <span>
                    <b>...</b>
                </span>
                <br />
                <span>
                    <b>12:00am </b>
                    Hacking Ends
                </span>
            </div>
            <div class="column is-6">
                <div class="img-wrap has-text-centered">
                    <img src="./assets/svg/025-spaceship.svg" alt="Explore" />
                </div>
            </div>
        </div>

        <!-- <script
            type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"
        ></script>

        <script type="text/javascript">
            google.charts.load('current', { packages: ['timeline'] });
            google.charts.setOnLoadCallback(drawChart);

            function Time(hour, minute) {
                return new Date(0, 0, 0, hour, minute, 0);
            }

            function drawChart() {
                var container = document.getElementById('example2.1');
                var chart = new google.visualization.Timeline(container);
                var dataTable = new google.visualization.DataTable();

                dataTable.addColumn({ type: 'string', id: 'Term' });
                dataTable.addColumn({ type: 'string', id: 'Name' });
                dataTable.addColumn({ type: 'date', id: 'Start' });
                dataTable.addColumn({ type: 'date', id: 'End' });

                dataTable.addRows([['1', 'Check In', Time(8, 0), Time(10, 0)]]);
                dataTable.addRows([['2', 'Breakfast', Time(8, 0), Time(9, 0)]]);
                dataTable.addRows([
                    ['3', 'Openning Ceremony', Time(9, 0), Time(10, 0)],
                ]);

                var options = {
                    timeline: { showRowLabels: false },
                    backgroundColor: '#d1d7de',
                };

                chart.draw(dataTable, options);
            }
        </script>

        <div id="example2.1" style="height: 200px;"></div> -->
    </div>
</section>
