@import 'base';

h4 {
    font-weight: $weight-bold;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    font-size: 1rem !important;
}

nav {
    padding: 1rem 0 0 0;

    a h4 {
        color: $greydark;
        padding: 1rem;
    }
}

img {
    min-width: 256px;
}

.brand {
    font-family: $family-monospace;
    font-weight: $weight-bold;
    text-transform: uppercase;
}

.button {
    letter-spacing: 1.1px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
}

.content {
    h1,
    h2,
    h3 {
        font-family: $family-monospace;
    }

    h4 {
        margin-bottom: 0.5rem;
    }
}

.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#hero {
    position: relative;
    h1 {
        @extend .brand;
        font-size: $size-3;
        margin-top: 1rem;
        margin-bottom: 0.25rem;

        @include tablet {
            font-size: $size-1;
        }
    }
    h2 {
        font-size: $size-5;
        font-weight: $weight-bold;
        color: $greydark;

        @include tablet {
            font-size: $size-4;
        }
    }
    h3 {
        margin-top: 0rem;
        margin-bottom: 2rem;
    }
    .logo {
        width: 20%;
        padding: 2rem;
    }

    .buttons {
        margin-top: 1rem;
        .button {
            @extend .is-primary, .is-medium;
            border-radius: 2px;
            padding: 1.25rem;
            margin: 0 1rem 1rem;
            font-size: 1rem;
            min-width: 8rem;
        }
    }
}

#details,
#schedule {
    .img-wrap {
        position: relative;
        img {
            width: 100%;
            max-width: 256px;
        }
    }
}

#statement {
    background-color: $black;
    background-image: url('../assets/statement-background.svg');
    background-attachment: fixed;

    .box {
        border-radius: 0;
        background-color: $body-background-color;

        h1 {
            font-weight: $weight-normal;
        }
    }

    @include tablet {
        padding: 8rem 4rem;
        .box {
            padding: 2rem;
        }
    }
}

#schedule {
    span {
        b {
            font-family: $family-monospace;
        }
    }
}

#sponsors.section {
    h1 {
        margin-bottom: 2rem;
    }
    .column .box {
        background-color: $shuttle-white-off;
        border-radius: 2px;
        box-shadow: none;
        border: $black 0.5rem solid;
        min-height: 4rem;
        height: 100%;
    }

    h3 {
        color: $black;
        margin: 0;
    }
}

#faq.section {
    background-color: $earth-blue;
    $faq-text-color: $black;

    * {
        color: $faq-text-color;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: $faq-text-color 0.1rem solid;
        display: inline;
    }

    p {
        margin: 1rem 0 2rem;
        color: $black;
        a {
            text-decoration: underline;
        }
    }
}

.footer {
    // background-color: $black-ter;
    .menu .menu-label {
        color: $text-invert;
    }

    .logo {
        width: 128px;
        min-width: unset;
    }

    .button {
        width: 128px;
    }

    .footnote a {
        color: $text-invert;
        text-decoration: underline;
    }
}
